spring:
  datasource:
    url: jdbc:h2:mem:test
    username: user
    password: user
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true

logging:
  level:

    org.hibernate.type.descriptor.sql.BasicBinder: trace
    org.springframework.transaction.interceptor: trace